@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
    /* background-color: rgb(242, 252, 255) !important; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Raleway", sans-serif !important;
}

.container .row {
    margin-top: 200px;
    ;
}

.box {
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072);


    width: 90% !important;
    height: 200px !important;
    margin: auto;
    /* margin: 100px auto; */
    margin-bottom: 30px;

    background: white;
    border-radius: 5px;
}